body {
    font-size: .875rem;
    overflow-x: hidden;
  }
  
  .feather {
    width: 16px;
    height: 16px;
  }
  
  /*
   * Sidebar
   */
.sidebar {
    position: fixed;
    top: 9px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #343a40;
    width: 4.5rem;
}

.sidebar .nav-link {
  color: #ffffff;
}
.sidebar .nav-link.active {
  color: #007bff;
}
.sidebar .nav-link:hover {
  background-color: #495057;
}
.content {
  margin-left: 4.5rem;
  padding: 1rem;
} 

/* nav bar */