
<div class="container m-3 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger  alert-dismissible fade show text-center" role="alert">
                <h4 class="alert-heading">404!</h4>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
                <p class="mb-0">Page not found</p>
                <a href="/">Go to Dashboard</a>
            </div>
        </div>
    </div>
</div>