{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="{% static '/img/medequip2-icon.png' %}" type="image/icon">
    <meta name="description" content="Login page for MedEquip" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '/Bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/Bootstrap/icons/font/bootstrap-icons.min.css' %}" />
    <link rel="stylesheet" href="{% static '/multi/multi.css' %}" />


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
</head>

<body class="bg-grey">
    <!-- header -->
    {% include 'partials/header.html' %}


    <div class="container m-3 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger  alert-dismissible fade show text-center" role="alert">
                    <h4 class="alert-heading">404!</h4>
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
                    <p class="mb-0">Page not found</p>
                    <a href="/">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap script -->
    <script src="{% static '/Bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/jquery/jquery.js' %}"></script>
    <script src="{% static '/multi/multi.js' %}"></script>

</body>

</html>