{% extends 'partials/base.html'%}
{% block title %}History{% endblock %}
{% block description %}history of all transactions{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-1">
    <h1 class="h2">History</h1>
    <button class="btn btn-outline-secondary  btn-sm" type="submit"
                        id="export-history">Export</button>
</div>

{% include 'partials/messages.html'%}

<div>
    <form id="filter-form" method="GET">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="fromDate">From:</label>
                    <input type="date" id="fromDate" name="fromDate" class="form-control form-control-sm">
                </div>
                <div class="col-md-2">
                    <label for="toDate">To:</label>
                    <input type="date" id="toDate" name="toDate" class="form-control form-control-sm">
                </div>
                <div class="col-md-4">
                    <label for="searchBar"></label>
                    <form class="d-flex" role="search">
                        <input class="form-control form-control-sm" id="searchfield" type="search"
                            placeholder="Search..." aria-label="Search">
                    </form>
                </div>
                <div class="col-md-2">
                    <label for="dropdownSelect">Labs</label>
                    <select id="dropdownSelect" class="form-control form-control-sm">
                        <option value="all" selected>All</option>
                        {% for lab in users %}
                        <option value="{{ lab.username }}">
                            {{ lab.username }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-2 d-flex align-items-center gap-2 justify-content-center">
                    <button class="btn btn-outline-danger custom-btn" type="submit"
                        id="reset-filter">Reset</button>
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Not Checked
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked
                        </label>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<div class="card shadow-sm border-0 p-2 pb-0 mt-1">
    <div class="table-responsive app-table">
        {% if items %}
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Lab</th>
                    <th scope="col">Name</th>
                    <th scope="col">Reg.No.</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Treated for</th>
                    <th scope="col">Borrow Time</th>
                    <th scope="col">Return Time</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="align-middle">
                    <td>{{ item.labName }}</td>
                    <td>{{ item.studentName }}</td>
                    <td>{{ item.studentRegno }}</td>
                    <td>{{ item.equipmentName }}</td>
                    <td>{{ item.treatmentName }}</td>
                    <td>{{ item.borrowed_at }}</td>
                    <td>{{ item.returned_at }}</td>
                    <td class="{% if item.status %}text-success{% else %}text-danger{% endif %}">
                        {% if item.status %}
                        Returned
                        {% else %}
                        Not Returned
                        {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No transactions found.
        </div>
        {% endif %}
    </div>

    <!-- search table -->
    <div class="table-output" style="display: none;">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Lab</th>
                    <th scope="col">Name</th>
                    <th scope="col">Reg.No.</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Borrow Time</th>
                    <th scope="col">Return Time</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="search-results">
            </tbody>
        </table>
    </div>
</div>

<div class="page">
    {% include 'partials/pagination.html'%}
</div>

<!-- script -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchfield = document.querySelector("#searchfield");
        const fromDateField = document.querySelector("#fromDate");
        const toDateField = document.querySelector("#toDate");
        const resetFilterButton = document.querySelector("#reset-filter");
        const tableoutput = document.querySelector(".table-output");
        const apptable = document.querySelector(".app-table");
        const page = document.querySelector(".page");
        const searchResults = document.querySelector("#search-results");
        const labSelect = document.querySelector("#dropdownSelect");

        function formatDateTime(dateTimeStr) {
            const options = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' };
            const date = new Date(dateTimeStr);
            return date.toLocaleDateString(undefined, options);
        }

        function performSearch() {
            const searchValue = searchfield.value.trim();
            const fromDate = fromDateField.value;
            const toDate = toDateField.value;
            const lab = labSelect.value;

            if (searchValue.length > 0 || fromDate.length > 0 || toDate.length > 0 || lab !== 'all') {
                fetch("{% url 'admin-search-history' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: JSON.stringify({
                        searchText: searchValue,
                        fromDate: fromDate,
                        toDate: toDate,
                        lab: lab,
                    }),
                })
                    .then((res) => res.json())
                    .then((data) => {
                        apptable.style.display = "none";
                        page.style.display = "none";
                        tableoutput.style.display = "block";
                        searchResults.innerHTML = "";

                        if (data.length === 0) {
                            searchResults.innerHTML = "<tr><td colspan='7'>No result found</td></tr>";
                        } else {
                            data.forEach((item) => {
                                const formattedBorrowedAt = formatDateTime(item.borrowed_at);
                                const formattedReturnedAt = item.returned_at ? formatDateTime(item.returned_at) : 'Not Returned';

                                searchResults.innerHTML += `
                            <tr class="align-middle">
                                <td>${item.handled_by}</td>
                                <td>${item.student__name}</td>
                                <td>${item.student__regno}</td>
                                <td>${item.equipment__name}</td>
                                <td>${formattedBorrowedAt}</td>
                                <td>${formattedReturnedAt}</td>
                                <td class="${item.status? 'text-success' : 'text-danger'}">${item.status ? 'Returned' : 'Not Returned'}</td>
                            </tr>`;
                            });
                        }
                    });
            } else {
                tableoutput.style.display = "none";
                apptable.style.display = "block";
                page.style.display = "block";
            }
        }

        searchfield.addEventListener("keyup", performSearch);
        fromDateField.addEventListener("change", performSearch);
        toDateField.addEventListener("change", performSearch);
        labSelect.addEventListener("change", performSearch);

        resetFilterButton.addEventListener("click", (e) => {
            e.preventDefault();
            searchfield.value = '';
            fromDateField.value = '';
            toDateField.value = '';
            labSelect.value = 'all';

            // Hide search results if visible
            tableoutput.style.display = 'none';

            // Show original table content
            apptable.style.display = 'block';
            page.style.display = 'block';
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
    const exportButton = document.querySelector("#export-history");

    exportButton.addEventListener("click", function (e) {
        e.preventDefault();

        const form = document.querySelector("#filter-form");
        if (form) {
            const formData = new FormData(form);

            const params = new URLSearchParams();
            for (const pair of formData.entries()) {
                params.append(pair[0], pair[1]);
            }

            window.location.href = "{% url 'export-history' %}?" + params.toString();
        } else {
            console.error("Form not found");
        }
    });
});



</script>

<style>
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
</style>

{% endblock content %}