{% extends 'partials/base.html'%}
{% block title %}DIMS Dashboard{% endblock %}
{% block description %}Dashboard for user to view Instruments detail{% endblock %}


{% block content %}
<!-- topbar -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard : {{lab.username}}</h1>
</div>

<!-- messages -->
{% include 'partials/messages.html'%}

<!-- cards -->
<div class="row g-6 mb-6">
    <div class="col-xl-3 col-sm-6 col-12 mb-2">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Instrument</span>
                        <span class="h3 font-bold mb-0">
                            <!-- total count --> {{total_equipment_count}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-center">
                        <div class="icon icon-shape bg-success text-white text-lg rounded-circle d-flex align-items-center justify-content-center"
                            style="width: 50px; height: 50px;">
                            <!-- <i class="bi bi-capsule" style="scale: 1.6;"></i> -->
                            <i class="fa-solid fa-syringe" style="scale: 1.6;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-2">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Instrument taken</span>
                        <span class="h3 font-bold mb-0">
                            {{borrowed_count}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-center">
                        <div class="icon icon-shape bg-danger text-white text-lg rounded-circle d-flex align-items-center justify-content-center"
                            style="width: 50px; height: 50px;">
                            <i class="bi bi-x-octagon-fill" style="scale: 1.6;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-2">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Instrument returned</span>
                        <span class="h3 font-bold mb-0">
                            {{returned_count}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-center">
                        <div class="icon icon-shape bg-warning text-white text-lg rounded-circle d-flex align-items-center justify-content-center"
                            style="width: 50px; height: 50px;">
                            <i class="bi bi-exclamation-triangle-fill" style="scale: 1.6;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-2">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Instrument Pending</span>
                        <span class="h3 font-bold mb-0">
                            <!-- {{not_returned_count}} -->
                            {{pending_count}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-center">
                        <div class="icon icon-shape bg-warning text-white text-lg rounded-circle d-flex align-items-center justify-content-center"
                            style="width: 50px; height: 50px;">
                            <i class="bi bi-exclamation-triangle-fill" style="scale: 1.6;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- past not returned -->
{% if past_not_returned_items %}
<div class="card shadow-sm border-0 p-3 pb-0 mt-1">
    <div class="table-responsive">
        <table class="table table-hover table-sm" style="table-layout: fixed; width: 100%;">
            <h5 class="text-center text-danger">Items that were not returned on previous dates</h5>
            <thead>
                <tr>
                    <th scope="col" style="width: 17%;">Name</th>
                    <th scope="col" style="width: 12%;">Reg.No.</th>
                    <th scope="col" style="width: 36%;">Instrument</th>
                    <th scope="col" style="width: 20%;">Borrow Time</th>
                    <th scope="col" style="width: 15%;">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in past_not_returned_items %}
                <tr class="align-middle">
                    <td>
                        {{item.student.name}}
                    </td>
                    <td>
                        {{item.student.regno}}
                    </td>
                    <td>
                        {% for equipment in item.equipment.all %}
                        {{ equipment.name }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-danger">
                        {{item.borrowed_at}}
                    </td>
                    <td class="{% if item.status %}text-success{% else %}text-danger{% endif %}">
                        {% if item.status %}
                        Returned
                        {% else %}
                        Not Returned
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endif %}


<!-- Main data view -->
<div class="card shadow-sm border-0 p-3 pb-0 mt-1">
    <div class="table-responsive">
        {% if transactions_count > 0 %}
        <table class="table table-hover table-sm" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th scope="col" style="width: 17%;">Name</th>
                    <th scope="col" style="width: 12%;">Reg.No.</th>
                    <th scope="col" style="width: 36%;">Instrument</th>
                    <th scope="col" style="width: 20%;">Borrow Time</th>
                    <th scope="col" class="position-relative" style="width: 15%; padding-right: 0; white-space: nowrap;">
                        <span style="padding-right: 60px;">Status</span>
                        <form method="GET" style="position: absolute; top: 0px; right: 0px; margin: 0;">
                            <select name="status" class="form-select form-select-sm" style="width: auto;font-size: 0.9em;" onchange="this.form.submit()">
                                <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All</option>
                                <option value="returned" {% if status_filter == 'returned' %}selected{% endif %}>Returned</option>
                                <option value="not_returned" {% if status_filter == 'not_returned' %}selected{% endif %}>Not Returned</option>
                            </select>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if items %}
                    {% for item in items %}
                    <tr class="align-middle">
                        <td>{{item.student.name}}</td>
                        <td>{{item.student.regno}}</td>
                        <td>
                            {% for equipment in item.equipment.all %}
                                {{ equipment.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{item.borrowed_at}}</td>
                        <td class="{% if item.status %}text-success{% else %}text-danger{% endif %}">
                            {% if item.status %}Returned{% else %}Not Returned{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <!-- Message for no matching items -->
                    <tr>
                        <td colspan="5" class="text-center text-muted">
                            No items found for the filter.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No transaction happened today.
        </div>
        {% endif %}
    </div>
</div>

<!-- pagination -->
{% include 'partials/pagination.html'%}
{% endblock content %}