{% extends 'base.html' %} 
{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit-equipment</li>
        </ol>
    </nav>
    <br>
   
    <div class="card">
        <div class="card-body">
            <form action="{% url 'editequipment' equipment.id %}" method="post">
                {% include 'partials/message.html'%}
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="">Equipment Name</label>
                    <input type="text" class=" form-control form-control-sm"  id="name" name="name" value="{{values.name}}" >
                </div>
                <div class="form-group mb-3">
                    <label for="">count</label>
                    <input type="text" class=" form-control form-control-sm" name="count" value="{{values.count}}">
                </div>
               
            
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" value="Submit" class="btn btn-success me-md-2" type="button">Save</button>
                    <a href="{% url 'index' %}"><button class="btn btn-danger" type="button">Cancel</button></a>
                  </div>
            </form>
           
        </div>
    </div>    
</div> 



{% endblock %}