{% extends 'base.html' %} 
{% block content %}
    <style>
         .custom-btn{
        border-radius: 12px; 
    }
    </style>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-2 mb-3 border-bottom"> <!--pt-3-->
        <h1 class="h2">History</h1>
    </div>

   
    <!-- Card Section -->
    <div class="row g-4 mb-3">
        <!-- Card 1: Total No of Equipments -->
        <div class="col-xl-3 col-sm-6 col-12 mb-2">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total No of Equipments</span>
                            <span class="h3 font-bold mb-0">100</span>
                        </div>
                        <div class="col-auto d-flex align-items-center justify-content-center">
                            <div class="icon icon-shape bg-secondary text-white text-lg rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                <i class="fa fa-wrench" style="scale: 1.6;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Card 2: Date Filters -->
        <div class="col-xxl-5 col-md-6 mb-4">
            <div class="card shadow-sm h-100"> <!-- Added h-100 class to ensure equal height -->
                <div class="card-body">
                    <div class="row align-items-end">
                        <div class="col-md-4 mb-1">
                            <label for="start_date" class="form-label">Start Date</label>
                            <input type="date" id="start_date" class="form-control">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label for="end_date" class="form-label">End Date</label>
                            <input type="date" id="end_date" class="form-control">
                        </div>
                        <div class="col-md-4 mb-1 ">
                            <button class="btn btn-outline-success custom-btn" id="filter-button">search</button>
                            <button class="btn btn-outline-danger custom-btn" type="submit">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Card 3: Search Form -->
        <div class="col-xl-3 col-sm-6 col-12 mb-2 d-flex justify-content-center align-items-center">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchfield" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger custom-btn" type="submit">Cancel</button>
            </form>
        </div>
    </div>
    
    
    
    
    
   
     <!-- Table Section -->
     <div class="container">
        {% include 'partials/message.html'%}
        <div class="app-table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Regno</th>
                    <th>Student Name</th>
                    <th>Equipment Name</th>
                    <th>Borrow Date</th>
                    <th>Borrow Time</th>
                    <th>Returned Date</th>
                    <th>Returned Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for equiments in page_obj %}
                <tr>
                    <td>{{equiments.regno}}</td>
                    <td>{{equiments.stud_name}}</td>
                    <td>{{equiments.category}}</td>
                    <td>{{equiments.borrowed_date}}</td>
                    <td>{{equiments.borrowed_time}}</td>
                    <td>{{equiments.returned_date}}</td>
                    <td>{{equiments.returned_time}}</td>
                    <td>{% if equiments.status == False %} <span style="color: red;">Pending to Return</span>
                        {% else %}
                        <span style="color: rgb(25, 135, 84); font-weight: bold ;"> Returned </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="table-output" style="display: none;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Regno</th>
                    <th>Student Name</th>
                    <th>Equipment Name</th>
                    <th>Borrow Date</th>
                    <th>Borrow Time</th>
                    <th>Returned Date</th>
                    <th>Returned Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="search-results">
               
            </tbody>
        </table>
    </div>

        <div class="">
            Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </div>

        <ul class="pagination align-right float-right mr-auto">
            {% if page_obj.has_previous%}
            <li {% if  page_obj.number == 1 %} class="page-item active" {% endif %}>
                <a class="page-link"  href="?page=1">&laquo; 1</a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
            
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}

        </ul>

    </div>

    <script>
    const searchfield = document.querySelector("#searchfield");
    const tableoutput = document.querySelector(".table-output");
    const apptable = document.querySelector(".app-table");
    const searchResults = document.querySelector("#search-results");

    searchfield.addEventListener("keyup", (e) => {
        const searchValue = e.target.value;

        if (searchValue.length > 0) {
            console.log("searchValue", searchValue);

            fetch("{% url 'searchhistory' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: JSON.stringify({ searchText: searchValue }),
            })
            .then((res) => res.json())
            .then((data) => {
                console.log("data", data);

                apptable.style.display = "none";
                tableoutput.style.display = "block";
                searchResults.innerHTML = "";

                if (data.length === 0) {
                    searchResults.innerHTML = "<tr><td colspan='3'>No result found</td></tr>";
                } else {
                    data.forEach((item) => {
                        searchResults.innerHTML += `
                        <tr>
                            <td>${item.regno}</td>
                            <td>${item.stud_name}</td>
                            <td>${item.category}</td>
                            <td>${item.borrowed_date}</td>
                            <td>${item.borrowed_time}</td>
                            <td>${item.returned_date}</td>
                            <td>${item.returned_time}</td>
                            <td>${item.status ? "<span style='color: rgb(25, 135, 84); font-weight: bold;'>Returned</span>" : "<span style='color: red;'>Pending to Return</span>"}</td>
                           
                        </tr>`;
                    });
                }
            });
        } else {
            tableoutput.style.display = "none";
            apptable.style.display = "block";
        }
    });
    // date filter
    const filterButton = document.querySelector("#filter-button");
    filterButton.addEventListener("click", () => {
        const startDate = document.querySelector("#start_date").value;
        const endDate = document.querySelector("#end_date").value;
        if (startDate.length > 0 && endDate.length > 0) {
        fetch("{% url 'filterhistory' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",  
            },
            body: JSON.stringify({ startDate:startDate, endDate:endDate }),
        })
        .then((res) => res.json())
        .then((data) => {
            console.log("data", data);

            apptable.style.display = "none";
            tableoutput.style.display = "block";
            searchResults.innerHTML = "";

            if (data.length === 0) {
                searchResults.innerHTML = "<tr><td colspan='8'>No result found</td></tr>";
            } else {
                data.forEach((item) => {
                    searchResults.innerHTML += `
                    <tr>
                        <td>${item.regno}</td>
                        <td>${item.stud_name}</td>
                        <td>${item.category}</td>
                        <td>${item.borrowed_date}</td>
                        <td>${item.borrowed_time}</td>
                        <td>${item.returned_date}</td>
                        <td>${item.returned_time}</td>
                        <td>${item.status ? "<span style='color: rgb(25, 135, 84); font-weight: bold;'>Returned</span>" : "<span style='color: red;'>Pending to Return</span>"}</td>
                    </tr>`;
                });
            }
        }); 
    } else { 
    tableoutput.style.display = "none";
    apptable.style.display = "block";
    }
    });


</script>

{% endblock %}
