{% extends 'partials/base.html'%}
{% load static %}
{% block title %}Instruments{% endblock %}
{% block description %}Instruments list{% endblock %}

{% block content %}

<!-- csrf -->

<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<!-- top bar -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
    <h1 class="h2">Instruments List</h1>
    <form class="d-flex" role="search">
        <input class="form-control" id="searchfield" type="search" placeholder="Search" aria-label="Search" style="width: 19vw;">
        <!-- <button class="btn btn-sm btn-outline-secondary custom-btn" type="submit">Reset</button> -->
    </form>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="{% url 'add-medicalKit' %}" class="btn btn-sm btn-outline-secondary">+ Add Instrument Kit&nbsp;</a>
            <a href="{% url 'add-equipment' %}" class="btn btn-sm btn-outline-success">+ Add Instrument&nbsp;</a>
        </div>
    </div>
</div>

<!-- equipment/medkit radio -->
<div class="d-flex justify-content-center flex-wrap flex-md nowrap align-items-center pb-2">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-left: -2.6vw;">
        <input type="radio" class="btn-check" name="btnradio" id="equipmentRadio" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="equipmentRadio">Instruments</label>

        <input type="radio" class="btn-check" name="btnradio" id="medkitRadio" autocomplete="off">
        <label class="btn btn-outline-primary" for="medkitRadio">Instrument Kit</label>
    </div>
</div>

<!-- messages -->
{% include 'partials/messages.html'%}


<!-- Equipment table -->
<div class="card shadow-sm border-0 p-3 pb-0 mt-1" id="equipmentTable">
    <div class="table-responsive app-table">
        {% if items %}
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Total Count</th>
                    <th scope="col">Available Count</th>
                    <!-- <th scope="col">Order</th> -->
                    <th scope="col">Category</th>
                    <!-- <th scope="col">Availability</th> -->
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody id='equipment-list' data-type="equipment">
                {% for item in items %}

                <tr class="align-middle" data-id="{{ item.id }}">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.count}}
                    </td>
                    <td>
                        {{item.available_count}}
                    </td>
                    <!-- <td>
                        {% if item.order != null %}
                        {{item.order}}
                        {% else %}
                        ---
                        {% endif %}
                    </td> -->
                    <td>
                        {{item.category}}
                    </td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="{% url 'edit-equipment' item.pk %}" type="button"
                                class="btn btn-primary btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form id="delete-form-{{ item.pk }}" action="{% url 'delete-equipment' item.pk %}"
                                method="post" class="position-relative">
                                {% csrf_token %}
                                <button type="button" data-id="{{ item.pk }}" onclick="confirmDeletion(this)"
                                    class="btn btn-danger btn-small"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h5 class="mb-3">No Instrument is there in lab</h5>
        {% endif %}
    </div>


    <!-- search table -->
    <div class="table-output" style="display: none;">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <!-- <th scope="col">ID no.</th> -->
                    <th scope="col">Total Count</th>
                    <th scope="col">Available Count</th>
                    <!-- <th scope="col">Order</th> -->
                    <th scope="col">Category</th>
                    <!-- <th scope="col">Availability</th> -->
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody id="search-results">
            </tbody>
        </table>
    </div>
</div>


<!-- Medical Kit table -->
<div class="card shadow-sm border-0 p-3 pb-0 mt-1" id="medkitTable" style="display: none;">
    <div class="table-responsive kit-app-table">
        {% if items %}
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Kit Name</th>
                    <th scope="col">Instruments</th>
                    <!-- <th scope="col">Order</th> -->
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody id='medkit-list' data-type="medkit">
                {% for item in medKit %}

                <tr class="align-middle" data-id="{{ item.id }}">
                    <td>
                        {{item.kitName}}
                    </td>
                    <td>
                        {% for equipment in item.equipment.all %}
                        {{ equipment.name }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <!-- <td>
                        {% if item.order != null %}
                        {{item.order}}
                        {% else %}
                        ---
                        {% endif %}
                    </td> -->
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="{% url 'edit-medicalkit' item.pk %}" type="button"
                                class="btn btn-primary btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form id="delete-kit-form-{{ item.pk }}" action="{% url 'delete-medicalkit' item.pk %}"
                                method="post" class="position-relative">
                                {% csrf_token %}
                                <button type="button" data-id="{{ item.pk }}" onclick="confirmKitDeletion(this)"
                                    class="btn btn-danger btn-small">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h5 class="mb-3">No Medical Kit is there in lab</h5>
        {% endif %}
    </div>

    <!-- search table -->
    <div class="kit-table-output" style="display: none;">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Kit Name</th>
                    <th scope="col">Instruments</th>
                    <!-- <th scope="col">Order</th> -->
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody id="kit-search-results">
            </tbody>
        </table>
    </div>
</div>


<!-- delete confirmation -->
<script>
    function confirmDeletion(button) {
        const equipmentId = button.getAttribute('data-id');
        if (confirm("Are you sure you want to delete this Instrument?")) {
            document.getElementById('delete-form-' + equipmentId).submit();
        }
    }

    function confirmKitDeletion(button) {
        const kitId = button.getAttribute('data-id');
        if (confirm("Are you sure you want to delete this Instrument kit?")) {
            document.getElementById('delete-kit-form-' + kitId).submit();
        }
    }


    function confirmDeletion2(button) {
        const equipmentId = button.getAttribute('data-id');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        if (confirm("Are you sure you want to delete this Instrument?")) {
            fetch(`/equipment/delete/${equipmentId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                    'X-Requested-With': 'XMLHttpRequest',
                },
                body: JSON.stringify({ id: equipmentId })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Something went wrong');
                    }
                })
                .then(data => {
                    console.log(data);
                    if (data.status === 'success') {
                        window.location.reload();
                        // Remove the item from the DOM
                        // const itemElement = button.closest('tr');
                        // console.log(itemElement); // Check if the correct element is being selected
                        // if (itemElement) {
                        //     itemElement.remove();
                        // } else {
                        //     console.error('No element found to remove');
                        // }
                    } else {
                        // Handle failure
                        console.error('Deletion was not successful');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }

    function confirmKitDeletion2(button) {
    const medicalKitId = button.getAttribute('data-id');
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    
    if (confirm("Are you sure you want to delete this Instrument Kit2?")) {
        fetch(`/equipments/medical-kit/delete/${medicalKitId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: JSON.stringify({ id: medicalKitId })
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Something went wrong');
            }
        })
        .then(data => {
            console.log(data);
            if (data.status === 'success') {
                window.location.reload();
                // Optionally, remove the medical kit item from the DOM
                // const itemElement = button.closest('tr');
                // if (itemElement) {
                //     itemElement.remove();
                // } else {
                //     console.error('No element found to remove');
                // }
            } else {
                // Handle failure
                console.error('Deletion was not successful');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}


</script>

<!-- search -->
<script>
    const searchfield = document.querySelector("#searchfield");
const tableoutput = document.querySelector(".table-output");
const apptable = document.querySelector(".app-table");
const kitapptable = document.querySelector(".kit-app-table");
const searchResults = document.querySelector("#search-results");

const kitTableOutput = document.querySelector(".kit-table-output");
const kitSearchResults = document.querySelector("#kit-search-results");

searchfield.addEventListener("keyup", (e) => {
    const searchValue = e.target.value;

    if (searchValue.length > 0) {
        fetch("{% url 'search-equipment' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({ searchText: searchValue }),
        })
        .then((res) => res.json())
        .then((data) => {
            // Hide the main table
            apptable.style.display = "none";
            kitapptable.style.display = "none";

            // Show the output tables
            tableoutput.style.display = "block";
            kitTableOutput.style.display = "block";

            // Clear previous search results
            searchResults.innerHTML = "";
            kitSearchResults.innerHTML = "";

            // Handle equipment search results
            if (data.equipment.length === 0) {
                searchResults.innerHTML = "<tr><td colspan='6'>No result found</td></tr>";
            } else {
                data.equipment.forEach((item) => {
                    searchResults.innerHTML += `
                    <tr class="align-middle">
                        <td>${item.name}</td>
                        <td>${item.count}</td>
                        <td>${item.available_count}</td>
                        <td>${item.category}</td>
                        <td class="text-end">
                            <div class="d-flex flex-row justify-content-end gap-2">
                                <a href="/equipment/edit/${item.id}/" type="button" class="btn btn-primary btn-small">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <form id="delete-form-${item.id}" action="/equipment/delete/${item.id}/" method="post" class="position-relative">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <button type="button" data-id="${item.id}" onclick="confirmDeletion2(this)" class="btn btn-danger btn-small"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>`;
                });
            }

            // Handle medical kit search results
            if (data.kit.length === 0) {
                kitSearchResults.innerHTML = "<tr><td colspan='6'>No result found</td></tr>";
            } else {
                data.kit.forEach((kit) => {
                    kitSearchResults.innerHTML += `
                    <tr class="align-middle">
                        <td>${kit.kitName}</td>
                        <td>${kit.equipments}</td> <!-- Assuming you want to list the equipments in the kit -->
                        <td class="text-end">
                            <div class="d-flex flex-row justify-content-end gap-2">
                                <a href="/equipments/medical-kit/edit/${kit.id}/" type="button" class="btn btn-primary btn-small">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <form id="delete-kit-form-${kit.id}" action="/equipments/medical-kit/delete/${kit.id}/" method="post" class="position-relative">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <button type="button" data-id="${kit.id}" onclick="confirmKitDeletion2(this)" class="btn btn-danger btn-small"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>`;
                });
            }
        });
    } else {
        // Hide the output tables if no search input
        tableoutput.style.display = "none";
        kitTableOutput.style.display = "none";
        apptable.style.display = "block";
        kitapptable.style.display = "block";
    }
});


    // sortable
    document.addEventListener('DOMContentLoaded', function () {
        function initSortableList(listId) {
            var el = document.getElementById(listId);
            var itemType = el.dataset.type;  // Get the type (equipment, treatment, medkit)
            var sortable = Sortable.create(el, {
                animation: 150,
                onEnd: function (evt) {
                    var rows = document.querySelectorAll('#' + listId + ' tr');
                    var orderedIds = [];
                    rows.forEach(row => {
                        orderedIds.push(row.dataset.id);
                    });
                    // Send the new order to the server
                    updateOrder(orderedIds, itemType);
                }
            });
        }

        function updateOrder(orderedIds, itemType) {
            fetch("{% url 'update-order' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}",
                },
                body: JSON.stringify({ ordered_ids: orderedIds, type: itemType }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Order updated successfully!');
                    } else {
                        console.error('Order update failed.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        initSortableList('equipment-list');  // For equipment
        initSortableList('medkit-list');     // For medical kit
    });

    // toggle visibility
    document.addEventListener('DOMContentLoaded', function () {
        const equipmentRadio = document.getElementById('equipmentRadio');
        const medkitRadio = document.getElementById('medkitRadio');
        const equipmentTable = document.getElementById('equipmentTable');
        const medkitTable = document.getElementById('medkitTable');

        if (equipmentRadio && medkitRadio && equipmentTable && medkitTable) {
            // Add event listeners for the radio buttons
            equipmentRadio.addEventListener('click', function() {
                equipmentTable.style.display = 'block';
                medkitTable.style.display = 'none';
            });

            medkitRadio.addEventListener('click', function() {
                equipmentTable.style.display = 'none';
                medkitTable.style.display = 'block';
            });
        } else {
            console.error("One or more required elements are missing from the page.");
        }
    }); 
</script>

<!-- style -->
<style>
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
</style>



{% endblock content %}